---
export interface Props {
  id: number;
  title: string;
  image: string;
  episodes: number;
  score: float;
}

const { id, title, image, episodes, score  } = Astro.props;
---
<article>
    <img src={image} alt={title} />
    <div class="content">
        <h2>{title}</h2>
        <p>📺 Episodes: {episodes}</p>
        <p>⭐️ Rating: {score}</p>
        <a href={`/show/${id}`}>Read more &rarr;</a>
    </div>
</article>

<style>
    article {
        line-height: 1.5;
        background: #fff;
        border-radius: 8px;
        color: #333;
        overflow: hidden;
    }
    img {
        max-height: 290px;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .content {
        padding: 1rem;
    }
    h2 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    ul {
        list-style: none;
    }
</style>
